<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Bonjour, je suis Julian Roulee.
	Je commence aujourd'hui mon aventure d'auto-entrepreneur avec la creation de ce site
	L'idee est de creer un jeux video de developpement personnel et spirituel de maniere collaborative
	Bonne decouverte, le processus commence tout juste :)
</p>
