<% provide(:title, "Home") %>
<h1>TheGuardianProject</h1>
<p>
	Bienvenue sur la page d'acceuil de TheGuardianProject.
	Comme vous pouvez le voir, ce site en est a ses balbutiments.
	Vous trouverez ci-dessous les pages déja accessibles :
</p>
